<!-- 全局js -->
{% load static %}
<script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>



    <!-- Peity -->
    <script src="{% static "js/plugins/peity/jquery.peity.min.js" %}"></script>


    <!-- 自定义js -->
    <script src="{% static "js/content.js" %}"></script>
    <script src="{% static "js/origional.js" %}"></script>
    <script src="{% static "js/contabs.js" %}"></script>
    <script src="{% static "js/hplus.js" %}"></script>
    <script src="{% static "js/welcome.js" %}"></script>

    <!-- iCheck -->
    <script src="{% static "js/plugins/iCheck/icheck.min.js" %}"></script>

    <!-- Peity -->
    <script src="{% static "js/demo/peity-demo.js" %}"></script>
    <script src="{% static "js/origional.js" %}"></script>


<script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
<!--统计代码，可删除-->