amqp==1.4.9
anyjson==0.3.3
awesome-slugify==1.6.5
billiard==3.3.0.23
celery==3.1.26.post2
celery-with-redis==3.0
Django==2.0.6
django-haystack==2.8.1
django-liked==1.0.2
jieba==0.39
kombu==3.0.37
Pillow==5.1.0
python-slugify==1.2.5
pytz==2018.4
redis==2.10.6
regex==2018.7.11
Unidecode==0.4.21
vine==1.1.4
Whoosh==2.7.4
