
<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}
{% load static %}
<body class="signin">
    <div class="signinpanel">
        <div class="row">
            <div class="col-sm-7">
                <div class="signin-info">
                    <div class="logopanel m-b">
                        <h1>瀚海星云</h1>
                    </div>
                    <div class="m-b"></div>
                    <h4>欢迎登陆 瀚海星云BBS站</h4>
                    <ul class="m-b">
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 校方公告</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 学习信息</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 问题讨论</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 意见反馈</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 休闲娱乐</li>
                    </ul>
                    <strong>还没有账号？ <a href="{% url "register" %}">立即注册&raquo;</a></strong>
                </div>
            </div>
            <div class="col-sm-5">
                <form method="post">
                    {% csrf_token %}
                {% if password_is_wrong %}
                    <div class="alert alert-danger">
                        用户名或密码错误！
                    </div>
                {% elif email_not_active %}
                    <div class="alert alert-danger">
                        邮箱还未验证！
                    </div>
                {% endif %}
                    <h3 class="no-margins">登录：</h3>
                    <p class="m-t-md">登录到瀚海星云</p>
{#                    <input type="text" class="form-control uname" placeholder="用户名" required="required" title="请输入用户名">#}
{#                    <input type="password" class="form-control pword m-b" placeholder="密码" required="required" title="请输入密码">#}
                    {{ form.username.errors }}
                    {{ form.username }}

                    {{ form.pasword.errors }}
                    {{ form.password }}
                    <a href="{% url "pswd_get_back" %}">忘记密码了？</a>
                    <button class="btn btn-success btn-block" type="submit">登录</button>
                </form>
            </div>
        </div>
        <div class="signup-foot">
            <div class="intro">本站教育网访问地址<a href="http://bbs.ustc.edu.cn">bbs.ustc.edu.cn(202.38.64.3)</a></div>
            <div class="intro">非中国教育网用户请使用本站<a class="cn" href="http://bbs2.ustc.edu.cn" target="_blank" title="bbs2.ustc.edu.cn">电信线路</a>或<a class="cn" href="http://bbs3.ustc.edu.cn" target="_blank" title="bbs3.ustc.edu.cn">网通线路</a></div>
            <div class="intro">手机用户切换到<a href="{% url "login" %}">移动版</a> PC用户切换到<a href="{% url "login" %}">普通版</a></div>
            <div class="intro">IPV6用户可通过本站IPV6地址访问<a href="http://bbs6.ustc.edu.cn" target="_blank">bbs6.ustc.edu.cn(2001:da8:d800::3)</a></div>
            <span class="copyright">© 1996-2012 bbs.ustc.edu.cn All Rights Reserved.</span><span class="icp">ICP备案号：皖ICP备05002528号</span>
        </div>
    </div>
</body>

</html>
