<!DOCTYPE html>
<html>

{% include 'head.html' %}

<body class="img-bg">

<div>

    <a href="http://www.ustc.edu.cn/">
        <img class="img-center" border="0" src="./img/ustc1.png" alt="中国科学技术大学" />
    </a>

</div>

<div class="middle-box text-center loginscreen   animated fadeInDown">
    <div>
        <h3>科大瀚海星云 找回密码</h3>
        <form class="m-t" role="form" method="POST">
            {% csrf_token %}
            <div class="form-group">
{#                <input type="text" class="form-control" placeholder="请输入用户名" required="required" title="请输入用户名">#}
                {{ form.username.errors }}
                {{ form.username }}
            </div>
            <div class="form-group">
{#                <input type="email" class="form-control" placeholder="请输入邮箱" required="required" title="输入后请在邮箱中查看新密码">#}
                {{ form. }}
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">找回密码</button>

            <p class="text-muted text-center"><small>已经有账户了？</small><a href="login_v2.html">点此登录</a>
            </p>
            <p class="text-muted text-center"><small>还没有账号？</small><a href="register.html">立即注册&raquo;</a>
            </p>

        </form>
    </div>
</div>

<!-- 全局js -->
<script src="js/jquery.min.js?v=2.1.4"></script>
<script src="js/bootstrap.min.js?v=3.3.6"></script>
<!-- iCheck -->
<script src="js/plugins/iCheck/icheck.min.js"></script>
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });
</script>

<script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
<!--统计代码，可删除-->

</body>

</html>
